# macOS and Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcuserstate

# Xcode project user data
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
Packages/
*.xcodeproj/project.xcworkspace/xcuserdata/

montana-client.conf

MontanaOpenAiTV_Repo.zip
