# macOS y Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcodeproj/xcuserdata/

# Swift Package Manager
Packages/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Monorepo packages
!packages/
!packages/**

# Node
node_modules/
packages/*/node_modules/
npm-debug.log*

# Archivos sensibles
montana-client.conf

# Evitar subir archivos empaquetados
MontanaOpenAiTV_Repo.zip

scripts/_tmp_init.js
scripts/_tmp_playlist.html
scripts/_tmp_server.js
